* {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 16px;
}

body {

    width: 1000px;
    height: auto;
    margin: 0 auto;
    background: antiquewhite;
    padding: 0px 10px;


}

h1 {
    
    font-size: 40px;
    text-align: center;
    text-decoration: underline;

}

h2 {

    font-size: 32px;
}

h3 {

    font-size: 24px;
}

p {
    line-height: 1.5rem;
    text-align: justify;
}

li {
    font-size: 16px;
    font-style: italic;
    padding: 4px;
    line-height: 1.5rem;

}

img {
    
    width: 500px;
    height: auto;
    display: block;
    margin: auto;
    border-radius: 10px;
    
}